[[mgr.prepend_keymap]]
on = "U"
run = "plugin recycle-bin" 
desc = "Restore last deleted files/folders"

[[mgr.prepend_keymap]]
on = "o"
run = """
	shell 'qlmanage -p "$1"'
"""
desc = "QuickLook"

[[mgr.prepend_keymap]]
on = "U"
run = '''
	shell --block "ids=$(echo -ne '\n' | trash-restore | awk '$1 ~ /^[0-9]+/ {print $0}' | fzf --multi | awk '{print $1}' | sed -z 's/\n/,/g;s/,$/\n/'); echo $ids | trash-restore; clear" --confirm
'''
desc = "Restory deleted files"

[[mgr.prepend_keymap]]
on = ["c", "i"]
run = """
	shell 'magick -quality 70 "$1" ${1%.*}.jpg'
"""
desc = "Convert image to PNG"

[[mgr.prepend_keymap]]
on = ["c", "p"]
run = """
	shell 'pdfunite "$@" merged.pdf'
"""
desc = "Merge selected PDFs"

[[mgr.prepend_keymap]]
on = ["c", "s"]
run = '''
  shell 'curl -F"file=@$1" https://0x0.st | pbcopy' --confirm
'''
desc = "Share file"

[[mgr.prepend_keymap]]
on = ["c", "a"]
run = "plugin compress"
desc = "Archive selected files"

[[mgr.prepend_keymap]]
on = ["c", "m"]
run = "plugin chmod"
desc = "chmod"

[[mgr.prepend_keymap]]
on = "l"
run = "plugin smart-enter"
desc = "Enter the child directory, or open the file"

[[mgr.prepend_keymap]]
on = ["g", "r"]
run = '''
	shell 'ya emit cd "$(git rev-parse --show-toplevel)"' 
'''
desc = "Go to git root"

[[mgr.prepend_keymap]]
on = ["g", "g"]
run = "plugin lazygit"
desc = "run lazygit"

[[mgr.prepend_keymap]]
on = ["g", "l"]
run = "plugin follow-link"
desc = "Go to the symlink original directory"

[[mgr.prepend_keymap]]
on = ["C", "d"]
run = "cd ~/Documents"

[[mgr.prepend_keymap]]
on = ["C", "h"]
run = "cd ~"

[[mgr.prepend_keymap]]
on = ["C", "D"]
run = "cd ~/Downloads"

[[mgr.prepend_keymap]]
on = ["C", "c"]
run = "cd ~/.config"

[[mgr.prepend_keymap]]
on = ["C", "C"]
run = "cd ~/.dotfiles"

[[mgr.prepend_keymap]]
on = ["C", "P"]
run = "cd ~/Personal"

[[mgr.prepend_keymap]]
on = ["C", "W"]
run = "cd ~/Work"
