[core]
	ignorecase = false
[push]
	autoSetupRemote = true

[includeIf "gitdir:/Users/sinnrrr/"]
	path = ~/Personal/.gitconfig.personal

[includeIf "gitdir:/Users/dmytro.soltysiuk.-nd/"]
	path = ~/Work/.gitconfig.work

[includeIf "gitdir:~/.dotfiles/"]
	path = ~/Personal/.gitconfig.personal
