[[language]]
name = "lua"
auto-format = true
formatter = { command = "stylua", args = ["-"] }

[[language]]
name = "typescript"
auto-format = true

[[language]]
name = "git-config"
file-types = [{ glob = "*gitconfig*" }, { glob = ".config/git/*config*" }]

[[language]]
name = "json"
file-types = ["json", "pp"]
formatter = { command = "prettier", args = ["--parser", "json"] }

[[language]]
name = "markdown"
language-servers = ["mdpls"]
[language-server.mdpls]
command = "mdpls"
config = { markdown.preview.auto = true }

[language-server.taplo.config]
root_dir = [".git", "*.toml"]
[[language]]
name = "toml"
auto-format = true
formatter = { command = "taplo", args = ["fmt", "-"] }
